ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
	float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.left-column {
		float: left;
		margin: 20px 0 0 20px;
		padding: 15px;
		width: 270px;
	}

.right-column {
		float: right;
		margin: 20px 20px 0 0;
		padding: 15px;
		width: 490px;
	}
	
.footer p {
		font-size: 12px;
		padding-top: 10px;
		color: #808080;
		text-align: center;
	}

.footer .left-column {
		margin: 0 0 0 20px;
	}

.footer .right-column {
	 	margin: 0 20px 0 0;
	}

.social {
		margin: 0 auto;
		text-align: center;
	}

.social li {
		display: inline-block;
		margin: 5px 5px 5px 0;
		width: 30px;
		height: 30px;
		border-radius: 15px;
		background: #262626;
 		-webkit-transition: all 0.5s 0s ease;
		-moz-transition: all 0.5s 0s ease;
 		-o-transition: all 0.5s 0s ease;
	}

.icon-facebook {
		width: 30px;
		height: 30px;
		background: url(../images/social_icons.png); -90px 0;
		opacity: 0.4;
	}
	
.facebook:hover .icon-facebook {
		opacity: 1;
	}
	
.facebook:hover {
		background-color: #3c5a98;
	}

.floatlimit {
		clear: both;
		height: 0;
	}